// Common
@import "font-size/font-size.default.module";
@import "palette/palette.default-light.module";
@import "sizes/sizes.default.module";
@import "offset/offset.default.module";
@import "a11y/a11y.default.module";
@import "transition/transition.default.module";
@import "animations/animations.default.module";

// Components
@import "components/button/button.default.module";
@import "components/hr/hr.default.module";

* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;

    font-family : 'Jost', sans-serif;
}