@keyframes loading {
    0% {
        transform : rotate(0deg);
    }

    100% {
        transform : rotate(360deg);
    }
}

:root body.animations-default {
    --rotate : loading 1s infinite ease-in-out;;
}
