.container {
    max-width : calc(var(--page-width) + var(--offset-medium));
    margin    : 0 auto;

    .content {
        @media screen and (max-width : 450px) {
            margin : 0 var(--offset-small);
        }

        max-width  : 100%;
        margin     : 0 var(--offset-medium);
        transition : var(--transition-fast);
    }
}